# Terraform working directory
**/.terraform/

# Terraform state
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Plans
*.tfplan
tfplan

# Sensitive variables
*.auto.tfvars
terraform.tfvars

# Keys
*.pem
*.key
id_rsa
id_rsa.pub